#shellcheck disable=SC2148,SC2155
export OLYMPUS_ENV=dev

export KUBECONFIG=$(expand_path ./kubeconfig)
export K8S_AUTH_KUBECONFIG=$(expand_path ./kubeconfig)
export SOPS_AGE_KEY_FILE=$(expand_path ~/.config/sops/age/keys.txt)

export KUBECONFIG=kubeconfig
export GITHUB_USERNAME=kilip
export GITHUB_TOKEN=$(pass github/fullkey)
export CLUSTER_JOIN_ID='10.132.145.61:25000/30552c4a99006329ae73ec8608538f24/c1488d10195d'

export BOOTSTRAP_TIMEZONE="UTC"

# Pick a range of unused IPs that are on the same network as your nodes
# You don't need many IPs, just choose 10 IPs to start with
# e.g. 192.168.1.220-192.168.1.230
export BOOTSTRAP_METALLB_LB_RANGE="10.10.10.220-10.10.10.230"
# The load balancer IP for k8s_gateway, choose from one of the available IPs above
# e.g. 192.168.1.220
export BOOTSTRAP_METALLB_K8S_GATEWAY_ADDR="10.10.10.220"
# The load balancer IP for the ingress controller, choose from one of the available IPs above
# that doesn't conflict with any other IP addresses here
# e.g. 192.168.1.221
export BOOTSTRAP_METALLB_INGRESS_ADDR="10.10.10.221"